

<div class="container mt-4 bg-info">
  <div class="row">
    <div class="col-md-4" *ngFor="let reel of reelarray">
      <div class="card mt-4">
        <div class="card-header">
         {{reel.title}}
        </div>
        <div class="card-body mr-3">
          <!-- <p>{{reel.isLike}}</p> -->
          <app-like [getlikedata]='reel.isLike'(sendliketoparent)="onlikestateupdate($event,reel.id)" class="mr-3">
          </app-like>
          <span>{{reel.likeCount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>